@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pokemon-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: "Limelight", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

.container {
  margin: 10px;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #ffc700;
  color: #000aff;
  transition: 0.3s ease;
  display: inline-block;
  font-size: 20px;
  max-width: 300px;
  text-align: center;
  margin: auto 20px;
}

.btn:hover {
  color: #ffc700;
  background-color: #000aff;
}

.btn-return {
  text-align: center;
}

.btn-return .btn {
  padding: 10px 40px;
}


/* Form */
.form-group {
  display: flex;
  flex-direction: column;
  margin: 25px 30px;
}

.form-group label {
  color: #ffc700;
  font-size: 25px;
  margin-bottom: 6px;
}

.form-group input {
  padding: 12px 0;
  font-size: 30px;
  font-family: "Limelight", cursive;
  padding-left: 15px;
}

.form-button {
  text-align: center;
}

.form-button button {
  font-family: "Limelight", cursive;
  border: none;
  padding: 10px 20px;
}

/* Media Queries */
@media (min-width: 620px) {
  .btn {
    font-size: 30px;
    min-width: 200px;
  }
}
