body {
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/pokemon-gfab125c2a_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin-top: 80px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFC700;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar img {
  width: 40px;
  height: 40px;
}

.navbar h1 {
  letter-spacing: 4px;
}
